<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div ng-show="sandwich===null" class="container">
    <h2>We're sorry, we couldn't find a sandwich with that combo. Why don't you talk to Tony about making it a thing?</h2>
     <h2><a style="color: #CCCCCC" href="/">or you could try a different combo</a>
     </h2>
  </div>
  <!-- RANDOMIZE THESE SAYINGS -->
  <div ng-show="sandwich!==null && isProcessing===false" class="container">
    <h1>{{message}}</h1>
  </div>
  <div ng-show="isProcessing===true" class="container">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>

  <div ng-hide="sandwich===null" class="container">
    <div class="row row-add-margin">
      <div class="col-md-4 col-md-offset-2">
        <a ng-hide="isLoggedIn()"class="btn btn-twitter btn-lg full-width" href="" ng-click="loginOauth('twitter')">
          <i class="fa fa-twitter"></i> Login to Tweet your order to Tony
        </a>
        <a ng-show="isLoggedIn()" class="btn btn-twitter btn-lg full-width" href="" ng-click="orderSandwich()">
          <i class="fa fa-twitter"></i> Yeah! Tweet Tony!
        </a>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-gold btn-lg full-width tweet" ng-click="spinAgain()">Meh, let's try again</button>
      </div>
    </div>
    <div class="row row-add-small-margin">
    </div>
  </div>
</header>


<footer class="footer">
  <div class="container">
      <p>Goose Sandwich Selector v0.0.1 | Made by 
        <a href="https://twitter.com/dandougdot">@dandougdot</a> |
         <a href="https://github.com/danthareja/goose-sandwich-selector">View on Github</a></p>
  </div>
</footer>