.btn-gold {
    color: #fff;
    background-color: #E2BA6E;
    border-color: #CEAA66;
    font-size: 20px;
}

.btn-gold:focus, .btn-gold:hover, .btn-gold:active, .btn-gold.active, .open .dropdown-toggle.btn-gold {
    color: #fff;
    background-color: #CEAA66;
    border-color: #CEAA66;
    font-size: 20px;
}

.btn-twitter {
    color: #fff;
    background-color: #2daddc;
    border-color: #2BA3CF;
    font-size: 20px;
}

.btn-twitter:focus, .btn-twitter:hover, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #2BA3CF;
    border-color: #2BA3CF;
    font-size: 20px;
}

.confirm-tweet .modal-header {
    background-color: #E2BA6E;
    border-color: #CEAA66;
}

.confirm-tweet .modal-body {
    font-size: 20px;
    font-weight: bold;
    color: #9C7965;
}

/* 'Yes' button */
.confirm-tweet .btn-default {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

}

/* 'No' button */
.confirm-tweet .btn-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/*.tweet {
    border-color: #96641C;
}*/

.row-add-margin {
    margin-top: 35px; 
}

.row-add-small-margin {
    margin-top: 15px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5E4C5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #9C7965;
}
.full-width {
  width: 100%;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #9C7965;
}

.white {
    color:#F5F5F5;
}