<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>The Goose Sandwich Selector</h1>
    <p class="lead">Never ask "what should I order at the goose?" again</p>
    <img src="assets/images/logo-small.png" alt="The Goose Wheel">
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Order a sandwich at the Goose</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="What sandwich do you want?" ng-model="sandwich">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="orderSandwich()">Tweet Tony!</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Goose Sandwich Selector v0.0.1 | Made by 
        <a href="https://twitter.com/dandougdot">@dandougdot</a> |
         <a href="https://github.com/danthareja/goose-sandwich-selector">View on Github</a></p>
  </div>
</footer>
